<h1>Listagem de Produtos</h1>

<div class="mt-5">
    <a class="btn btn-primary" href="/produto/create">Cadastro Produtos</a>
</div>


<div class="mt-5">
    <table class="table table-stripped">
        <tr>
            
            <th>Id</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Data de Entrada</th>
        </tr>
        {{# each produtos}}
            <tr>
                <td>
                    <a href="/produto/edit/{{ this.id }}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="/produto/destroy/{{ this.id}}" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            <td>{{ this.id }}</td>
            <td>{{ this.nome }}</td>
            <td>{{ this.categoria }}</td>
            <td>{{ this.quantidade }}</th>
            <td>{{ this.valor }}</td>
            <td>{{ this.data_entrada }}</td>
        </tr>
        {{/ each}}
        </table>       
</div>